.container {
  background-color: rgb(53, 53, 53);
  padding: 2rem 3rem;
  max-height: 100%;
  border-radius: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}

.form-container > label {
  margin: 0rem 0rem 0rem 0rem;
}

.form-container > input {
  padding: 0.7rem;
  border-radius: 1rem;
  border: none;
  margin-top: 0.5rem;
}

.btn-submit {
  margin-top: 2rem;
  border: none;
  background-color: darkblue;
  font-size: 1rem;
  border-radius: 1rem;
  color: black;
  font-weight: bold;
  padding: 0.6rem;
  color: white;
  cursor: pointer;
}
